h1{
    color: black;
    font-size: 100px;
    font-weight: 700;
    margin-left: 200px;
    font-style: oblique;
    text-align: center;
}
h2{
    color: black;
    font-weight: 600;
    font-size: 40px;
    font-weight: bold;
    font-style: oblique;
    margin-left: 150px;
    margin-top: 400px;
}
h2:hover{
    color: gray;
}
ul{
    list-style-type: none;
    display: flex;
    width: 100%;
    color: white;
    font-size: 30px;
    padding-left: 900px;
    gap: 90px;
    height: 50px;
    margin-top: 2px;
}
p{
    font-size: 20px;
    width: 30%;
    margin-left: 900px;
    background-color: black;
    opacity: 0.5;
    color: whitesmoke;
}
   
